{% extends 'base.html' %}

{% block content%}
 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">ABOUT JUADI</h1>
                    <p class="lead fw-normal text-white-50 mb-0">THANKS FOR CHOOSING QUALITY</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        Welcome to our cozy corner of warmth and light!
                        We are passionate about creating candles that not only brighten your space
                        but also fill it with comfort and serenity. Our candles are handcrafted with love,
                        using natural soy wax and cotton wicks, ensuring a clean and long-lasting burn.
                        Inspired by the desire to bring warmth and coziness to every home, each candle
                        is designed to transform your space into a haven of tranquility. Whether you're unwinding
                        after a long day or setting the mood for a special moment, our candles are here to illuminate
                        your world with their gentle glow and soothing ambiance.
                        <br/><br/>
                        Thank you for letting us be a part of your journey to a more inviting and harmonious home.
                            <br/><br/>

                </center>
            </div>

        </div>
{% endblock %}
